#root {

}

body {
  background: #fafafa;
}
.container {
  width: 50%;
  margin: 0 auto;
}

.hearth {
  color: red;
}

.btn-primary {
  background-color: #ffff!important;
  border: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}
