header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 20px 0;
  z-index: 99999;
  background: #ffff;
  border-bottom: 1px solid lightgrey;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search  {
      input {
        width: 200px;
        height: 28px;
        border: solid 1px rgba(var(--b6a,219,219,219),1);
        text-align: center;
        background: #fafafa;
      }
    }


    .buttons{
      ul
      {
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
          padding: 0 10px;
        }
      }
    }
  }
}
