.posts {
  margin-top: 50px;
  background: #ffff;
  border: 1px solid lightgrey;
  width: 100%;

  .posts-head {
    padding: 20px;
    height: 60px;
    background: #ffff;

    .posts-profile {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .posts-profile-left {
        display: flex;
        align-items: center;

        img {
          width: 40px;
          height: 40px;
          border: 2px solid red;
          border-radius: 50%;
        }

        p {
          margin-left: 10px;
        }
      }
    }
  }

  .posts-image {
    height: 500px;
    img {
      padding: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .posts-footer {
    padding: 20px;
    .posts-buttons {
      * {
        cursor: pointer;
        font-size: 24px;
        color: inherit;
      }
      span:last-child {
        margin-left: 10px;
      }
    }

    .posts-likes {
      display: flex;
      align-items: center;
      margin-top: 10px;
      img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 5px;
      }
      span {
        vertical-align: middle;
      }
    }

    .posts-comments {
      #showcomment {
        margin: 10px 0;
        color: #9b9b9b;
        cursor: pointer;
      }
      .posts-text {
        margin-top: 10px;
      }
      .all-comments {
        background-color: rgba(0, 0, 0, .5);
        .modal {
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          background: #ffff;
          width: 300px;
          height: 300px;
        }
      }
    }

  }
}
