@media all and (max-width: 1300px) {
  .main-left {
    width: 100%!important;
  }

  .main-right {
    display: none;
  }

  .container {
    width: 95%;
  }
}

@media all and (max-width: 800px) {
  .search {
    display: none;
  }

  .container {
    max-width: 100%!important;
    margin: 0;
  }
}
