<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Boolgram</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="./assets/css/master.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>

  <div id="root">

    <navbar></navbar>


    <!-- Inizio main -->
    <main class="container">
      <!-- Parte sinistra -->
      <div class="main-left">
        <!-- Storie -->
        <div class="stories">
          <div class="stories-profile">
            <div  v-if="skeleton" class="skeleton-stories" v-for="profile in profiles">
              <span></span>
            </div>
            <div class="btn btn-primary" data-toggle="modal" data-target="#stories"  @click="showStories(profile)" v-if="skeleton == false" v-for="profile in profiles">
              <img :src="profile.profile_picture" alt="">
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="stories" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                  <img :src="storiesprofile" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>

  <!-- Skeleton post -->
        <div v-if="skeleton" class="card"></div>

        <!-- Posts -->
        <div  v-if="skeleton == false" class="posts"  v-for="post in posts">


          <!-- Testa post -->
          <div class="posts-head" >
            <div class="posts-profile">
              <div class="posts-profile-left">
                <img :src="post.profile_picture"  width="24">
                <p>{{post.profile_name}}</p>
              </div>
              <div class="posts-profile-right">
                <svg aria-label="Altre opzioni" class="_8-yf5 " fill="#262626" height="16" role="img" viewBox="0 0 48 48" width="16"><circle clip-rule="evenodd" cx="8" cy="24" fill-rule="evenodd" r="4.5"></circle><circle clip-rule="evenodd" cx="24" cy="24" fill-rule="evenodd" r="4.5"></circle><circle clip-rule="evenodd" cx="40" cy="24" fill-rule="evenodd" r="4.5"></circle></svg>
              </div>
            </div>
          </div>

          <!-- Immagine -->

          <div class="posts-image">
            <img :src="post.post_image" alt="">
          </div>

          <!-- Commenti -->

          <div class="posts-footer" >
            <div class="posts-buttons">

              <!-- Like Commento -->
              <span><i class="fas fa-heart" id="hearth"></i></span>
              <span><i class="far fa-comment-dots"></i></span>

            </div>
            <!-- Like persone -->
            <div class="posts-likes">

              <span  v-for="(like,i) in post.likes" v-if="i == 0"><img :src="like.profile_picture" alt="">
                <span>piace a <strong>{{like.username}}</strong> e altri <strong>{{like.username.length}}</strong></span>
              </span>

            </div>

            <!-- Commenti -->
            <div class="posts-comments" >
              <div class="posts-text"><strong>{{post.profile_name}}</strong> {{post.post_text}}</div>

              <p class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" v-if="(post.comments.length)" id="showcomment" @click="showComment(post.comments)">Mostra tutti e <span >{{post.comments.length}}</span> i commenti</p>

              <div class="comments-user" v-for="(comment,i) in post.comments" v-if="i <= 2">


                <span><strong>{{comment.username}}</strong></span>
                <span>{{comment.text}}</span>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title text-align-center" id="exampleModalLabel">Commenti</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p  v-for="comment in allComments"><strong>{{comment.username}}</strong> {{comment.text}}</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Lato destro -->
      <div class="main-right">
        <!-- Account personale -->
        <div class="main-account">
          <span><img src="./assets/img/profile.jpg" alt="" width="56"></span>
          <span>username</span>
        </div>

        <!-- Lista suggerimenti -->
        <div class="account-list">
          <div class="advice">
            <p>Suggerimenti per te</p>
          </div>
          <div class="advice-account">

            <!-- Skeleton -->
            <div class="skeleton-advice" v-if="skeleton" v-for="profile in profiles">
              <div id="skeleton-account"><span></span></div>
              <div id="skeleton-account-text"></div>
            </div>

<!-- Lista suggeriti -->
            <div v-if="skeleton == false" v-for="profile in profiles" class="account-list">
              <div class="account-list-image"><img :src="profile.profile_picture"></div>
              <span> <strong>{{profile.profile_name}}</strong></span>
            </div>
          </div>
        </div>
      </div>

    </main>
  </div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="assets/js/main.js" charset="utf-8"></script>
</body>
</html>
